.gutenberg-code-highlighter.php{
    background: blue;
}
.gutenberg-code-highlighter.css{
    background: orange;
}
.gutenberg-code-highlighter.html{
    background: gray;
}
.gutenberg-code-highlighter.sass{
    background: purple;
}